.nav-container {
  display: block;
  background: #6b6b6b;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  .logo-wrap {
    display: block;
    height: 40vh;
    z-index: 1;
  }

  .item {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem 0;
    padding: 1rem;

    &:hover {
      background: rgb(59, 59, 59);
    }
  }
}

.circle-button {
  display: block;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  z-index: 5;
  position: absolute;
  top: 5%;
  right: 5%;
  border: 1px solid #aaaaaa;

  .lines {
    display: block;
    margin: 0 auto;
    background: #000;
    height: 0.2rem;
    width: 90%;
    margin: 0.5rem 0;
  }
}

a {
  text-decoration: none;
  color: #fff;
}
