@import '../../sass/styles.scss';

.header{
  min-width:100vw;
}

.hero__box{
  min-height:100vh;
  color:$color-grey-light-1;
  display: flex;
  justify-content: center;
  
  @include respond("tablet"){
    min-height:50vh;
  }
  @include respond("phone"){
    flex-direction: column;
  }
  @include respond("phone-sm"){
    min-height:50vh;
  }
}

.left{
<<<<<<< HEAD
  background:$color-background-dark;
  font-size: 3rem;
  margin: 0 auto;
=======
  
  background:$color-background-dark;
>>>>>>> 50fd1c6b5113d8981c719edf8d809c2405169636
  width: 100%;
  margin: 0 auto;
  font-size: calc(2em + 1vw);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  

  @include respond("tablet"){
    min-height:70vh;
    // font-size:2.7rem;
  }
  @include respond("phone"){
    min-height:50vh;
    // font-size:2.5rem;
  }
  @include respond("phone-sm"){
    min-height:40vh;
    // font-size:1.5rem;
  }

  h1{
    padding: 0.75rem;
  }

  img{
<<<<<<< HEAD
    width: 20rem;
    top: 50%;
    bottom: 50%;
    transform: translateY(40%);
    
    @include respond("tablet"){
    transform: translateY(50%);
    } 
=======
    width: 50%;
    @include respond("phone"){
      width: 40%;
    }
    @include respond("phone-sm"){
      width: 40%;
    }
>>>>>>> 50fd1c6b5113d8981c719edf8d809c2405169636
  }
}

.right{
  background:$color-background-dark-2;
  margin: 0 auto;
  text-align: center;
  width: 100%;
<<<<<<< HEAD
  height:50rem;
  @include respond("tablet"){
    min-height:100vh;
  } 
=======
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


>>>>>>> 50fd1c6b5113d8981c719edf8d809c2405169636
  @include respond("phone"){
    min-height:50vh;
  }
  @include respond("phone-sm"){
    min-height:30vh;
  }

  svg{
    @include respond("phone"){
      width: 60%;
    } 
    @include respond("phone-sm"){
      width: 50%;
    } 
  }
  

}


