@import '../../sass/styles.scss';

.Form{
    display:block;
    margin: 0 auto;
    margin-bottom: 3rem;
    width:60%;

    label{
        display:inline-block;
        text-align: center;
        width:20%;
        font-size: 2.4rem;
        font-weight: 500;
    }
    
    input{
        display:inline-block;
        margin:0 auto;
        width:75%;
        height:2.8rem;
        margin: 1rem 0;
    }

    button{
        display:block;
        margin:0 auto;
        margin-top: 1rem;
        width:auto;
        background: none;
        border: 1px solid $color-grey-dark-2; 
        border-radius: 20% / 25%;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        font-weight: 500;

        &:hover{
            background:$primary-color-light;
            color:white;
        }
    }

    h2{
        text-align:center;
    }
    @include respond(phone){  
        width:80%;
        label{
            font-size: 1.2rem;
        }
    }
    @include respond(phone-sm){  
        width:90%;
    }
}
