.secondary-heading {
  color: $primary-color;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 2rem;
  @include respond(large-desktop) {
    font-size: 4rem;
  }
  @include respond(tablet) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }
  @include respond(phone-sm) {
    font-size: 2.2rem;
    margin-top: 3rem;
  }
}

.paragraph {
  font-size: 2rem;
  color: $text-color;
  font-weight: 400;
  text-align:justify;  
  text-justify:inter-word;
  @include respond(large-desktop) {
    font-size: 2.5rem;
  }
  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.tertiary-heading {
  font-size: 1.5rem;
  color: $text-color;
}