.u-margin-bottom-small{
    margin-bottom:2rem !important;
}
.u-margin-bottom-medium{
    margin-bottom:4rem !important;
}
.u-margin-bottom-large{
    margin-bottom:6rem !important;
}
.u-margin-top-small{
    margin-top:2rem !important;
}
.u-margin-top-medium{
    margin-top:4rem !important;
}
.u-margin-top-large{
    margin-top:6rem !important;
}

.container{
    max-width:114rem;
    margin:0 auto;
    @include respond(phone){
        width:90%;
    }
}