@import '../../sass/styles.scss';

.event-page-container{
    min-height: 100vh;
    background-color: $color-background-dark;
}

.event-header{
    padding: 3rem;
    min-height: 50vh;
    background-color: $primary-color;
    text-align: center;
}

.heading{
    font-size: 5rem;
    color: white;
}

.day-container{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.category-container{
    min-height: 100vh;
    text-align: center;
    color: white;
    padding: 5rem;
}

.category-container h2{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.category-container p{
    font-size: 2.5rem;
}

.event-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.noDisplay{
    display: none;
}

.overlay{
    display: flex;
}