@import '../../sass/styles.scss';

footer{
    // background-color:$color-background-dark;
    background-color:$color-grey-dark-1;
    min-height:max-content;
    width:100%;
    padding:2rem;
}

.footer{
    padding:2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    @include respond(phone){
        flex-direction: column;
        padding:1rem;
    }
    &__logo{
        width:10rem;
        height:10rem;
        margin:0 auto;
        
    }
   &__nav{
       margin-left:2rem;
        @include respond(phone-sm){
            margin-left:1rem;
        }
   }
  
    &__links{
        flex:0 0 60%;
        display:flex;
        
    }
    &__link{
        padding:1rem;
       
        a:link,a:visited{
            color:$color-grey-light-2;
            font-size:1.7rem;
            text-transform:uppercase;
            @include respond(phone-sm){
                font-size:1.6rem;
            
            }
        }
        
    }

    &__socials{
        display:flex;
        
    }

}

.logo{
    max-width:100%;
    max-height:100%;
    text-align:center;
    
}

.footer-social-logo{
    fill:$color-grey-light-2;
    width:3rem;
    height:3rem;
  
}

.copyright{
    color:$color-grey-light-2;
    
}